@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --neutral-100: hsl(20, 5%, 90%);
    --neutral-300: hsl(20, 5%, 87%);
    --neutral-500: hsl(20, 5%, 75%);
    --neutral-700: hsl(20, 5%, 50%);
    --blue-100: hsl(200, 80%, 80%);
    --green-100: hsl(75, 50%, 80%);
    --red-100: hsl(45, 60%, 80%);
    --beige-100: hsl(45, 40%, 90%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    z-index: 1;
}

html,
body,
#pageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    max-width: 100vw;
    padding: 0;
    background: var(--neutral-100);
    font-family: "Poppins", sans-serif;
}

#titleContainer {
    width: 100%;
    padding: 3px;
    text-align: center;
    font-size: 10px;
}

#topContainer {
    height: auto;
    width: 100%;
    margin: 0;
    padding-top: 0;
}

#playContainer {
    display: grid;
    grid-template-areas:
        "player player vs vs comp comp"
        "pscore pscore pscore cscore cscore cscore";
    grid-template-rows: 65% 1fr;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background: var(--neutral-100);
}

#playerPlay {
    grid-area: player;
}

#compPlay {
    grid-area: comp;
}

#playerScoreBox {
    grid-area: pscore;
}

#compScoreBox {
    grid-area: cscore;
}

#middleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#headingContainer {
    width: 100%;
    text-align: center;
}

#buttonContainer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 0;
    justify-content: center;
    align-content: center;
    height: auto;
    width: 100%;
    max-width: 100vw;
    padding: 0;
    background:var(--neutral-100);
}

.choice {
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 auto;
    padding: 1px;
    background: var(--neutral-100);
}

#playerPlay,
#compPlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerPlayIcon,
#compPlayIcon {
    max-height: 100%;
    max-width: 100%;

}

#vsBox {
    grid-area: vs;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    margin: auto 0;
    padding: 5px;
    font-size: 0.75rem;
    background: var(--neutral-100);
}

#resultContainer {
    height: auto;
    width: 85%;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
}

.play {
    height: 80%;
    width: auto;
    padding: 5px;
    margin: 0;
    background: var(--neutral-300);
    box-shadow: 0 0 3px var(--neutral-700);
    border-radius: 10px;
}

.icon {
    width: 100%;
}

.fade {
    opacity: 0;
}

.fadeIn {
    animation: fadeInOut 4s linear forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

.longFade {
    animation: longFade 4s linear forwards;
}

@keyframes longFade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

.disabledBtn {
    background: var(--neutral-700);
    opacity: 80%;
}

.scoreBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: auto;
    padding: 0 10px;
    background: var(--neutral-100);
}

.scoreBox p {
    margin-top: -1rem;
    background: var(--neutral-100);
    font-size: 2rem;
}

.scoreBox h3 {
    background: var(--neutral-100);
    border-bottom: solid 2px var(--neutral-700);
}

.choiceBtn {
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 50%;
    background:var(--neutral-100);
    border: none;
}

.choiceBtn:hover,
.choiceBtn:focus {

    animation-name: scale;
    animation-duration: 1s;

}

@keyframes scale {
    0% { transform: scale(1); }
    50% { transform: scale(1.025); }
    100% { transform: scale(1); }
}

#rockBtn {
    background: var(--neutral-500);
}

#paperBtn {
    background: var(--beige-100);
}

#scissorsBtn {
    background: var(--red-100);
}

#lizardBtn {
    background: var(--green-100);
}

#spockBtn {
    background: var(--blue-100);
}