@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --neutral-50: hsl(20, 5%, 95%);
    --neutral-100: hsl(20, 5%, 90%);
    --neutral-300: hsl(20, 5%, 87%);
    --neutral-500: hsl(20, 5%, 75%);
    --neutral-550: hsl(20, 5%, 60%);
    --neutral-700: hsl(20, 5%, 50%);
    --netural-800: hsl(20, 10%, 10%);
    --blue-100: hsl(200, 80%, 80%);
    --blue-150: hsl(200, 80%, 65%);
    --green-100: hsl(75, 50%, 80%);
    --green-150: hsl(75, 50%, 65%);
    --green-200: hsl(110, 90%, 45%);
    --yellow-100: hsl(40, 90%, 80%);
    --yellow-150: hsl(40, 90%, 65%);
    --yellow-200: hsl(44, 90%, 45%);
    --beige-100: hsl(45, 40%, 90%);
    --beige-150: hsl(45, 40%, 80%);
    --beige-200: hsl(45, 40%, 65%);
    --red-100: hsl(5, 85%, 55%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    z-index: 1;
}

html,
body,
#pageContainer {
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: var(--neutral-100);
    font-family: "Poppins", sans-serif;
}

#pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 5px;
}

#titleContainer {
    height: 10%;
    width: 100%;
    max-width: 100%;
    padding: 3px;
    text-align: center;
    font-size: 0.5rem;
}

#topContainer {
    height: 40%;
    max-width: 100%;
    margin: 0;
    padding-top: 0;
}

#playContainer {
    display: grid;
    grid-template-areas:
        "player player vs vs comp comp"
        "pscore pscore pscore cscore cscore cscore";
    grid-template-columns: 20% 20% 1fr 1fr 20% 20%;
    grid-template-rows: 65% 1fr;
    height: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    background: var(--neutral-100);
}

#footerContainer {
    display: none;
    position: relative;
    bottom: 0;
    height: 5%;
    width: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#playerPlay {
    grid-area: player;
}

#playerPlayIcon {
    border-radius: 50%;
}

#compPlay {
    grid-area: comp;
}

#compPlayIcon {
    border-radius: 50%;
}

#playerScoreBox {
    grid-area: pscore;
}

#compScoreBox {
    grid-area: cscore;
}

#selectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    margin: 0;
    padding-bottom: 1rem;
}

#buttonHeadingContainer {
    width: 100%;
    text-align: center;
}

#buttonContainer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 0;
    justify-content: center;
    align-content: center;
    height: auto;
    width: 100%;
    max-width: 100vw;
    padding: 5px;
    background:var(--neutral-100);
}

.choice {
    height: 3rem;
    width: 3rem;
    margin: 0 auto;
    padding: 1px;
    background: var(--neutral-100);
}

#playerPlay,
#compPlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerPlayIcon,
#compPlayIcon {
    max-height: 100%;
    max-width: 100%;

}

#vsBox {
    grid-area: vs;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: auto 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 100%;
    font-size: 0.75rem;
    background: var(--neutral-100);
}

#resultContainer {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "winLose"
        "resultText";
    height: 30%;
    min-height: 30%;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /*
    padding: 5px;
    background: var(--neutral-50);
    border-radius: 15px;
    box-shadow: 0 0 8px var(--neutral-500);
    */
}

#resultTextContainer {
    grid-area: resultText;
    height: auto;
    align-items: space-around;
    justify-content: center;
}

#winLoseContainer {
    grid-area: winLose;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

#winLoseContainer p {
    font-size: 1.25rem;
}

.result {
    font-size: 1rem;
    line-height: 2rem;
}

.bold {
    font-weight: 900;
}

.grey {
    color: var(--neutral-550);
    border: 2px var(--neutral-550) solid;
}

.beige {
    color: var(--beige-200);
    border: 2px var(--beige-200) solid;
}

.yellow {
    color: var(--yellow-200);
    border: 2px var(--yellow-200) solid;
}

.green {
    color: var(--green-150);
    border: 2px var(--green-150) solid;
}

.blue {
    color: var(--blue-150);
    border: 2px var(--blue-150) solid;
}

.choiceBorder {
    background: var(--neutral-50);
    text-shadow: 0px 0px 2px var(--neutral-700);
    border-radius: 8px;
    padding: 2px 6px;
}

.win {
    color: var(--green-200);
}

.lose {
    color: var(--red-100);
}

.tie {
    color: var(--yellow-200);
}

.hidden {
    display: none;
}

.play {
    height: 80%;
    width: auto;
    padding: 5px;
    margin: 0;
    background: var(--neutral-300);
    box-shadow: 0 0 3px var(--neutral-700);
    border-radius: 10px;
}

.icon {
    width: 100%;
}

.fade {
    opacity: 0;
}

.fadeIn {
    animation: fadeInOut 4s linear forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

#buttonContainer .disabledBtn {
    background: var(--neutral-700);
    opacity: 80%;
}

.scoreBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    background: var(--neutral-100);
}

.scoreBox p {
    margin-top: -1rem;
    background: var(--neutral-100);
    font-size: 1.25rem;
}

.scoreBox h3 {
    background: var(--neutral-100);
    font-size: 1rem;
    border-bottom: solid 2px var(--neutral-700);
}

.choiceBtn {
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 50%;
    background:var(--neutral-100);
    border: none;
    transition: 
        transform 0.5s,
        background-color 0.5s;
}

.choiceBtn:hover,
.choiceBtn:focus {

    transform: scale(1.05);
    /*
    animation-name: scale;
    animation-duration: 1s;
    */

}

/*
@keyframes scale {
    0% { transform: scale(1); }
    100% { transform: scale(1.025); }
}
*/

#rockBtn {
    background: var(--neutral-500);
}

#rockBtn:hover,
#rockBtn:focus {
    background: var(--neutral-550);
}

#paperBtn {
    background: var(--beige-100);
}

#paperBtn:hover,
#paperBtn:focus {
    background: var(--beige-150);
}

#scissorsBtn {
    background: var(--yellow-100);
}

#scissorsBtn:hover,
#scissorsBtn:focus {
    background: var(--yellow-150);
}

#lizardBtn {
    background: var(--green-100);
}

#lizardBtn:hover,
#lizardBtn:focus {
    background: var(--green-150);
}

#spockBtn {
    background: var(--blue-100);
}

#spockBtn:hover,
#spockBtn:focus {
    background: var(--blue-150);
}



/*Media Queries*/

@media only screen and (min-width: 480px) {

    .choice {
        height: 4rem;
        width: 4rem;
    }

    .scoreBox p {
        font-size: 1.5rem;
    }
    
    .scoreBox h3 {
        font-size: 1.25rem;
    }

    #winLoseContainer p {
        font-size: 1.75rem;
    }

    .result {
        font-size: 1.25rem;
        line-height: 2.5rem;
    }
    
}

@media only screen and (min-width: 600px) {

    #middleContainer {
        padding-bottom: 1rem;
    }

    #resultContainer {
        grid-template-rows: 4rem 8rem;
    }

    .scoreBox p {
        font-size: 1.75rem;
    }

    .scoreBox h3 {
        font-size: 1.25rem;
    }

    .choice {
        height: 5rem;
        width: 5rem;
    }

    #footerContainer {
        display: initial;
    }

}

@media only screen and (min-width: 800px) {

    #titleContainer {
        height: 5%;
        font-size: .75rem;
    }
    
    #middleContainer {
        padding-bottom: 3rem;
    }

    .choice {
        height: 7rem;
        width: 7rem;
    }

    #resultTextContainer {
        padding-top: 3rem;
    }

    .result {
        font-size: 2rem;
        line-height: 4rem;
    }

}

@media only screen and (min-width: 1200px) {

    #pageContainer {
        height: 100vh;
        width: 85%;
        max-height: 1000px;
        max-width: 1050px;
        margin: 0 auto;
    }

    #titleContainer {
        height: 5%;
        font-size: 1rem;
    }
    
    #middleContainer {
        padding-bottom: 3rem;
    }

    .choice {
        height: 10rem;
        width: 10rem;
    }

    .result {
        font-size: 2.25rem;
        line-height: 4rem;
    }

    #selectContainer {
        padding-top: 4rem;
    }

    #winLoseContainer p {
        font-size: 3rem;
    }

}